<footer>
	<div class="container">
		<div class="ftr-contacts">
			<div class="row">
				<div class="col-md-7">
					<p class="copyright">Все права принадлежат <br/>
						ООО "QUADRONET", 2017г.</p>
				</div>
				<div class="col-md-5">
					<div class="tel">
					<i class="fa fa-phone" aria-hidden="true"></i>+7(843) 202 41 15
					</div>
					<div class="mail">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						<a href="#">info@quadronet.net</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>