<footer>
	<div class="container">
		<div class="ftr-contacts">
			<div class="row">
				<div class="col-md-6">
					<p class="copyright">Все права принадлежат <br/>
						ООО "QUADRONET", 2017г.</p>
				</div>
				<div class="col-md-6">
					<div class="tel">
						<i class="fa fa-phone" aria-hidden="true"></i><a href="tel: +7(843) 202 41 15">+7(843) 202 41 15</a>
					</div>
					<div class="mail">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						<a href="mailto: info@quadronet.net">info@quadronet.net</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>