<header class="header_wrap">
	<div class="container">
		<div class="row">
			<div class="header">
				<ul class="language_list">
					<li class="active"><a href="#">Рус</a></li>
					<li class=""><a href="#">En</a></li>
				</ul>
				<form class="form_wrap">
					<div class="form">
						<input type="text" name="search" class="form-control" placeholder="Поиск">
						<button type="submit" class="btn btn-default" name="go"><i class="fa fa-search"></i></button>
					</div>
				</form>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-5">
				<div class="logo">
					<a class="navbar-brand" href="/"><img src="../img/logo.svg" class="img-responsive" type="image/svg+xml" alt="QUDRONET телекомуникация и связь"></a>
				</div>
			</div>
			<div class="col-lg-7 topnav">
				<ul class="navbar">
					<li><a href="About.html">О компании</a></li>
					<li><a href="Networks.html">Строительство сетей связи</a></li>
					<li><a href="Servers.html">Аренда серверов</a></li>
					<li><a href="SMM-SEO.html">SMMM SMO и SEO</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>