<head>
	<meta charset="utf-8">

	<title>Quadronet</title>

	<meta name="description" content="">

	<!-- Mobile-friendly viewport -->
	<meta name="viewport" content="initial-scale=1.0, width=device-width">

	<!-- Turn off "smart" recognition phone number -->
	<meta name="format-detection" content="telephone=no">
	<!--<meta http-equiv="x-rim-auto-match" content="none">-->

	<!-- CDN -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">

	<!-- Style sheet link -->
	<link href="css/main.css" rel="stylesheet" media="all">

	<!-- Javascript file source -->
	<script type="text/javascript" src="js/main.js"></script>

	<!-- Internet Explorer condition - HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
	