.company {
  margin-top: 69px;
  padding-bottom: 80px;
  .text {
    font-family: $font-bold;
    .name {
      font-size: 48px;
      color: $blue;
      margin-bottom: 0;
    }
    p {
      font-size: 24px;
      color: #505050;
    }
  }
}
/*.about {
  p {
    font-size: 16px;
    font-family: $font-light;
    color: #505050;
    margin-bottom: 0;
  }
}*/