
  .navbar{
    list-style: none;
    padding-right: 0;
    margin-top: 15px;
    padding-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
      .underline {
        float: left;
        text-decoration: none;
        border-bottom: 2px solid white;
        transition: border-bottom .3s;
        height: 63px;
        &:hover{border-bottom: 2px solid #00afec;}
        &:last-child {
          padding-right: 0;
        }
      }
    /*border-bottom: 4px solid white;
    transition: border-bottom .3s;
    &:hover{border-bottom: 4px solid dodgerblue;}*/
    .hover {
      color: $grey;
      text-decoration: none;
    }
  }
