.nets {
  margin-top: 15px;
}
.adw {
  p {
    font-size: 16px;
    font-family: $font-light;
    color: #6c6c6c;
  }
}

.offers {
  h3 {
    font-size: 24px;
    font-family: $font-bold;
    color: $dark;
  }
}

.list {
  .text {
    background-image: url("../img/text_bg.png");
    background-size: 100%;
    ul {
      li {
        color: $blue;
        font-size: 24px;
      }
      span {
        font-size: 16px;
        font-family: $font-light;
        color: $dark;
      }
    }
  }
}

.application {
  p {
    font-size: 18px;
    font-family: $font-bold;
    color: #969696;
  }
  .navbar-btn {
    padding: 14px 21px;
  }
}
