<div class="container">
	<div class="company">
		<div class="row">
			<div class="col-lg-4">
				<div class="text">
					<h2 class="name">QUADRONET</h2>
					<p>с вами с 2010 года</p>
				</div>
			</div>
			<div class="col-md-8">
				<div class="about">
					<p>Компания ООО "РУ-сервис" была создана в Казани, специалистами в области связи. Год основания компании – 2010, когда восстановившейся
						после непростого кризиса 2008 года, компании осознали необходимость строительства сетей связи для развития своих бизнесов.
						Позже стало ясно, что выбор направления бизнеса был не только верным, но и открыл перед нашей компанией новые перспективы.</p>
				</div>
			</div>
		</div>
	</div>
</div>