<div class="container">
	<div class="text">
		<h2 class="nominal">О компании</h2>
		<div class="about">
			<p>Компания ООО "РУ-сервис" была создана в Казани, специалистами в области связи. Год основания компании – 2010, когда восстановившейся
				после непростого кризиса 2008 года, компании осознали необходимость строительства сетей связи для развития своих бизнесов.
				Позже стало ясно, что выбор направления бизнеса был не только верным, но и открыл перед нашей компанией новые перспективы.</p>
		</div>
	</div>

	<div class="row smm">
		<div class="col-md-6">
			<div class="item">
				<img src="../img/logo_2.png" alt="">
			</div>
		</div>
		<div class="col-md-6 smo">
			<h3>Аренда серверов<br />SMM, SMO и SEO</h3>
			<p>Стало ясно, что окружающий компанию бизнес нуждается в профессиональных услугах в области аренды серверов, а также заинтересован
				в продвижения собственных товаров и услуг средствами SMM, SMO и SEO. На сегодняшний день партнерами нашей компании является крупные
				корпоративные клиенты, ведущие свой бизнес в России и за ее пределами. </p>
		</div>
	</div>
</div>