<div class="container">
	<div class="text">
		<h1 class="nominal">SMM, SMO и SEO</h1>
		<div class="about">
			<p>Такие термины, как SEO, SMO, SMM на сегодняшний день становятся не только какими-то модными словами, но и важнейшими инструментами
				бизнеса. Теперь не только западные, но и наши отечественные компании сознают, что они не только должны присутствовать в Интернете,
				но и продвигать свой бренд, товары и услуги в социальных медиа и социальных сетях.</p>
		</div>
	</div>
</div>

<div class="container without">
	<div class="item">
		<img src="../img/seo_bg.png" alt="">
	</div>
</div>

<div class="container">
	<div class="row wrap-seo">
		<div class="col-md-6 about">
			<p>Современное понимание успешного бизнеса - это, прежде всего, успешные и продуктивные коммуникации с целевыми потребителями, шире –
				с целевыми группами общественности.</p>
			<p>Есть одна опасность SEO, SMO, SMM заключается в том, что эти инструменты подчас превращаются в моду. Мы настаиваем на том, чтобы
				они использовались профессионально и предлагаем здесь свои услуги.</p>
		</div>
		<div class="col-md-5 application">
			<h3>Сделайте заявку на услугу<br />
				прямо сейчас</h3>
			<p>Выгодные условия сотрудничества</p>
			<a href="#" class="btn btn-default navbar-btn bid-btn">Отправить заявку</a>
		</div>
	</div>

	<div class="wrap-directions">
		<div class="row">
			<div class="col-md-4 article">
				<div class="wrap-direct">
					<div class="items">
						<p><span>SEO (search engine optimization)</span><br /> является ни чем иным, как поисковой оптимизацией. Она предусматривает оптимизацию
							содержание сайта под алгоритм работы поисковых систем. Сверхзадача SEO – вывести сайт на ведущие позиции в поиске, в выдаче по
							важнейшим ключевым запросам. SEO делиться на SEO-оптимизацию и SEO-продвижение.</p>
						<p>Первое предполагает работу с сайтом, в частности, с дизайном, юзабилити, структурой материалов, скоростью загрузки страниц и т.д.
							Сверхзадача - сделать сайт приятным для роботов и удобным для целевых пользователей.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 article">
				<div class="wrap-direct">
					<div class="items">
						<p><span>SMO (Social media optimization)</span><br /> представляет собой оптимизацию сайта под социальные сети и социальные медиа. Этот
							инструмент предполагает создание таких материалов, которые бы не только интересовали представителей целевой группы, но и
							стимулировали их делиться ими с другими пользователями.</p>
						<p>Несмотря на кажущуюся простоту социальные медиа таят в себе огромное число нюансов, не зная которых компании, растрачивая огромные
							бюджеты, не добиваются желаемого результата.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 article">
				<div class="wrap-direct">
					<div class="items">
						<p><span>SMM (Social media marketing)</span><br /> это исключительно маркетинговая работа в социальных сетях.</p>
						<p>Цель SMM – заинтересовать посетителей нужной целевой группой своей тематикой и в идеале - привлечь их на сайт.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
