<div class="container">
	<div class="text">
		<h2 class="nominal">Аренда серверов</h2>
		<div class="about">
			<p>В связи с дороговизной вычислительных средств большой мощности, организационными и техническими трудностями, связанными с их регулярным
				обслуживанием и модернизацией компаниями, получила развитие такая услуга, как аренда серверов.</p>
		</div>
	</div>

	<div class="row nets">
		<div class="col-md-7">
			<div class="item">
				<img src="../img/top_bg.png" alt="">
			</div>
		</div>
		<div class="col-md-5 adw">
			<div class="text">
				<p><span class="tenancy">Аренда серверов</span> предполагает сдачу и обслуживание нашей компанией собственных вычислительных ресурсов, способствующих поддержанию в актуальном
					рабочем состоянии и развитию бизнеса клиентов.</p>
				<p>Мы сдаем в аренду мощные Blade сервера<br />
					<span class="server_name">HP ProLiant BL p-Class (BL20p, BL30p, BL40p), Sun Fire B100s/B100x/B200x Blade Server и Fujitsu-Siemens BX600.</span></p>
				<a href="#" class="btn btn-default navbar-btn bid-btn">Арендовать сервер</a>
			</div>
		</div>
	</div>

	<div class="wrap-offers">
		<h3>Blade-серверы позволяют</h3>
		<div class="row">
			<div class="col-md-7 list">
				<div class="text">
					<ul class="price">
						<li class="plus">уменьшить стоимость системы питания и охлаждения и повысить их надежность, значительно сократить количество коммутационных
							проводов, повысить комфортность управления системой, уменьшить занимаемый объем, уменьшить энергопотребление и объем
							выделяемого тепла, повысить масштабируемость и увеличить гибкость.</li>
					</ul>
				</div>
			</div>
			<div class="col-md-5 application">
				<h3>Сервера компании располагаются в крупнейших московских Центрах обработки данных. </h3>
			</div>
		</div>
	</div>

	<div class="about wrap-about">
		<p>В каждом отдельном случае, благодаря модульной структуре, мы можем подобрать оптимальное решение и готовы в любой момент увеличить
			производительность сервера.  Такие серверы остро необходимы для высоконагруженных проектов, требующих серьезных вычислительных мощностей
			и профессионального обслуживания. Среди таких проектов - математическое моделирование, научные задачи, вычислительный поиск.</p>
		<p>Кроме того, серьезных вычислительных ресурсов требуют проекты, связанные с обслуживанием значительного количества пользователей. Это проекты,
			связанные с предоставлением и обслуживанием Интернет-сервисов, предоставлением хостинга, серверов приложений, работой с распределенными
			базами данных. Одна из самых востребованных услуг – система создания и управления виртуальными серверами. Наши клиенты могут брать Blade
			сервера в аренду и организовывать свой собственный бизнес.</p>
	</div>
</div>