<div class="container">
	<div class="testimonial">
		<div class="directions">
			<div class="row">
				<div class="col-lg-3 article">
					<div class="stand">
							<div class="items">
								<div class="item">
									<img src="../img/direct_9.png" alt="">
								</div>
								<div class="text">
									<p>1Gb-канал подключенный к Интернету</p>
								</div>
							</div>
					</div>
				</div>
				<div class="col-lg-3 article">
					<div class="stand">
						<div class="items">
							<div class="item">
								<img src="../img/direct_10.png" alt="">
							</div>
							<div class="text">
								<p>Возможность настройки BGP</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 article">
					<div class="stand">
						<div class="items">
							<div class="item">
								<img src="../img/direct_11.png" alt="">
							</div>
							<div class="text">
								<p>Необходимое количество IPv4 блоков для работы</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 article">
					<div class="stand">
						<div class="items">
							<div class="item">
								<img src="../img/direct_12.png" alt="">
							</div>
							<div class="text">
								<p>Расположение в крупнейших московских датацентрах</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>