<div class="container">
	<div class="testimonial">
		<div class="directions">
			<div class="row">
				<div class="col-lg-3 article">
					<div class="stand">
							<div class="items">
								<div class="item">
									<img src="../img/direct_5.png" alt="">
								</div>
								<div class="text">
									<p>Специалисты<br />с огромным опытом</p>
								</div>
							</div>
					</div>
				</div>
				<div class="col-lg-3 article">
					<div class="stand">
						<div class="items">
							<div class="item">
								<img src="../img/direct_6.png" alt="">
							</div>
							<div class="text">
								<p>Детальный аудит существующих линий связи</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 article">
					<div class="stand">
						<div class="items">
							<div class="item">
								<img src="../img/direct_7.png" alt="">
							</div>
							<div class="text">
								<p>Рекомендации в области модернизации и оптимизации</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 article">
					<div class="stand">
						<div class="items">
							<div class="item">
								<img src="../img/direct_8.png" alt="">
							</div>
							<div class="text">
								<p>Более<br />9000 абонентов</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>