<div class="container">
	<div class="main-content">
		<div class="row">
			<div class="col-md-5">
				<div class="lease">
					<h2>Аренда серверов</h2>
					<p>сдаем в аренду мощные Blade сервера HP ProLiant BL p-Class (BL20p, BL30p, BL40p),
						Sun Fire B100s/B100x/B200x Blade Server и Fujitsu-Siemens BX600</p>
					<a href="#" class="btn btn-default navbar-btn">Подробнее</a>
				</div>
			</div>

			<div class="col-md-7">
				<img src="img/top_bg.png" class="img-responsive" alt="">
			</div>
		</div>
	</div>
</div>

